/* External Stylesheet (styles.css) */

/* General body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e7f8f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.heading {
    font-family: "Emblema One", Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
}

/* Story container */
#story {
    margin: 20px;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(60, 86, 73, 0.418);
    width: 60%;
}

img {
    width: 500px;
    height: 400px;
}